<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Login Credential</title>
    <style>
        /* Define your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            background-color: rgb(166, 216, 168);
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        .content {
            padding: 20px;
        }
        .order-details {
            margin-bottom: 20px;
        }
        .signature {
            padding-top: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Your Login Credential</h1>
        </div>
        <div class="content">
            <p>Dear {{firstName}} {{lastName}},</p>
            <p>Your counsellor access for Tayome has been created.Please log on to <a href="{{link}}" >link</a> with your login credentials:</p>
            
            <p>Email: {{email}}</p>
            <p>Password: {{password}}</p>
        </div>
        <div class="signature">
            <p>Regards,</p>
            <p>Tayome team</p>
            <!-- Your signature or sender's name can be added here -->
        </div>
    </div>
</body>
</html>
